* {
  background-color: lightblue;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container-fluid {
  background-color: turquoise;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

.container-fluid2{
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin-bottom: 20px;
}

.container-fluid3{
 margin: auto;
 display: block;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: turquoise;
}

.top-2 {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 1rem 1rem;
  text-align: center;
  justify-content: center;
}

header {
  padding: 40px;
  background-color: turquoise;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 100px;
}

h1 {
  background-color: turquoise;
}

.card-1 {
  padding: 3rem 3rem;
  width: 200px;
}

footer {
  background-position: center;
  margin-top: auto;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding: 1rem 1rem;
  text-align: center;
  justify-content: center;
}

.card {
  width: 18rem;
  height: auto;
}


.active {
  color: #fff !important;
  background: black !important;
}


.img {
  padding: 0px 100px 0px 100px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

ul .list {
  list-style-type: none;
  background-color: turquoise;
  width: fit-content;
  padding: 10px;
  text-align: center;
  float: right;
}

#me-image {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 300px;
}

main {
  color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.headers {
  font-size: 40px;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
}

#contact {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

p {
  text-align: center;
  justify-content: center;
  padding: 10%;
}



#lol {
  width: 400px;
  text-align: center;
  border: solid 6px;
  padding: 100px;
  background-image: url("./assets/lolPic.jpg");
  background-size: 600px;
  background-position: center;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

#tutor-ratings {
  background-image: url("./assets/tutor-rating.png");
  background-size: 200px;
  background-position: center;
}

#tracker {
  background-image: url("./assets/employeeTracker.jpg");
  background-position: center;
  background-size: 200px;
}